/* START HEADER STYLE */

.logo_img{
    width: 150px;
}
.text_red{
    color: rgba(209, 2, 2, 0.776);
}
.text_background_blue{
    background-color: rgb(104, 104, 255);
    display: inline-block;
    border-radius: 18px;
    padding: 20px;
    color: aliceblue;
}

/* END HEADER STYLE */

/* START FIRST SECTION STYLE  */
.text_background_grey{
    background-color: green;
    color: aliceblue;
    padding: 5px 10px 5px 10px;
}

/* END FIRST SECTION STYLE */

/* START SECOND SECTION STYLE */

section .text_background_grey.padding{
    padding: 40px 30px 40px 30px;
}
.text_padding{
    padding-left: 77px;
}
input ,button{
    padding: 10px 8px 10px 8px;
    background-color: rgba(2, 133, 2, 0.313);
    border-color: rgb(0, 71, 29);
    border-radius: 10px;
}
button{
    background-color: rgb(0, 152, 0);
    color: aliceblue;
}
ul{
    font-size: 25px;
}
li{
    border-style: solid;
    border-radius: 10px;
    padding: 10px 14px 10px 14px;
    margin-bottom: 14px;
}

/* END SECOND SECTION STYLE */
